li {
    list-style-type: none;
    width: 400px;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

span {
    float: right;
}

form {
    width: 500px;
    /*border: 1px solid black;*/
}

input {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
}

.form {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}