li {
    list-style-type: none;
    width: 485px;
    border: 1px solid grey;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

span {
    float: right;
}

form {
    width: 500px;
}

input {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul form {
    min-height: 150px;
}

.form {
    margin: 10px;
    padding: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

input[type=submit], button {
    float: right;
    width: 100%;
}

input[type=text], input[type=tel] {
    float: right;
    width: 100%;
}

input[type=checkbox], label {
    display: inline;
    margin-left: 5px;
}

.test {
    background: lightgray;
}

li:hover {
    background: aliceblue;
}

.checkBoxEdit {
    color: rebeccapurple;
}

.hide {
    display: none;
}

form ~ div {
    display: none;
}

a {
    cursor: pointer;
}

span {
    margin-left: 5px;
}
